#parallax {
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    @include background-image(linear-gradient(to right, rgba(0,142, 140, 0.4), rgba(0,142, 140, 0.4)),url('/public/app/common/contact/src/img/parallax-contacto.jpg'));
}

#contact {
    padding: 3em;
    color: $blanco;

    h1 {
        font-size: 4em;
    }

    form {
        margin-top: 3em;

        input,
        textarea {
            border-bottom: 1px solid $blanco;
        }

        label {
            color: $blanco;
        }
    }

    li {
        list-style: none;
        display: inline-block;
        margin: 1em;

        i {
            &:hover {
                color: $color-accent;
            }
        }
    }
}
