body {
    font-family: $fuente-texto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.color-primary {
    color: $color-primary;
}

.color-darker {
    color: $color-darker;
}

.color-lighter {
    color: $color-lighter;
}

.color-secondary {
    color: $color-secondary;
}

.color-accent{
  color: $color-accent;
}

.blanco {
    color: $blanco;
}

.fondo-color-primary {
    background-color: $color-primary;
}

.fondo-color-darker {
    background-color: $color-darker;
}

.fondo-color-lighter {
    background-color: $color-lighter;
}

.fondo-color-secondary {
    background-color: $color-secondary;
}

.fondo-blanco {
    background-color: $blanco;
}

.fondo-color-accent{
  background-color: $color-accent !important;
}
/*fuentes*/
.fuente-principal {
    font-family: $fuente-principal;
}

.fuente-texto {
    font-family: $fuente-texto;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.text-bold {
    font-weight: bold;
}
