#navbar {
    background: transparent !important;
    position: absolute !important;
    box-shadow: none !important;
    padding-right: 5em !important;
    text-transform: uppercase !important;
    font-weight: bold !important;

    a {
        font-size: 1em;
        border-bottom: 1px white solid;
        margin-right: 1em;
    }
}
