#resume {
    padding-top: 3em;
    background-color: $blanco;

    h1 {
        font-size: 4em;
    }

    .timeline {
        position: relative;
        overflow: auto;
        margin-top: 3em;
        margin-bottom: 4em;

        &:before {
            content: '';
            position: absolute;
            height: 100%;
            width: 5px;
            background: $color-secondary;
            left: 0;
        }

        .año {
            background: $color-secondary;
            font-family: $fuente-principal;
            color: $color-darker;
            box-shadow: 2px 2px 4px #717070;
            font-weight: bold;
            max-width: 6em;
            margin: 0 auto 1em;
            padding: 0.5em;
            text-align: center;
            position: relative;
            clear: both;
        }

        ul {
            list-style: none;
            padding: 0 0 0 1em;
            z-index: 1;
        }

        .evento {
            background: $color-secondary;
            padding: 1em;
            margin-bottom: 1em;
            position: relative;
            box-shadow: 2px 2px 4px #4c4c4c;

            h5 {
                font-family: $fuente-principal;
                color: $color-darker;
            }

            p {
                color: #636363;
                font-style: italic;
            }

            &:before {
                content: '';
                width: 0;
                height: 0;
                border-top: 1em solid $color-secondary;
                border-left: 1em solid transparent;
                position: absolute;
                left: -1em;
                top: 0;
            }
        }
    }
    @media screen and (min-width: 40em) {
        .container {
            max-width: 1000px;
            margin: 0 auto;
        }

        .timeline {
            &:before {
                left: 50%;
            }

            ul {
                padding-left: 0;
                max-width: 700px;
                margin: 0 auto;
            }

            li {
                width: 42%;
            }

            li:nth-child(even) {
                float: right;
                margin-top: 2em;
            }

            li:nth-child(odd) {
                float: left;

                &:before {
                    border-top: 1em solid $color-secondary;
                    border-right: 1em solid transparent;
                    right: -1em;
                    left: auto;
                }
            }

            li:nth-of-type(2n+1) {
                clear: both;
            }
        }
    }
}
