//Colores
//Tema:https://color.adobe.com/es/textil-sitio-web-color-theme-7314931/
$verde-oscuro: #006A74;
$verde-claro: #008E8C;
$rosado: #DF5256;
$rosado-claro: #FDAEAD;
$rosado-oscuro: #CD3E3D;
$gris: #DEDDD3;
$blanco: #FFFFFF;

//Fuentes
$fuente-principal: 'Shadows Into Light', cursive;
$fuente-texto: 'Muli', sans-serif;
