//Colores
$color-primary:#00AA8D;
$color-lighter:#00BF9A;
$color-darker:#008975;
$color-secondary:#DEDDD3;
$blanco: #FFFFFF;
$color-accent:#DF5256;

//Fuentes
$fuente-principal: 'Shadows Into Light', cursive;
$fuente-texto: 'Muli', sans-serif;
