*, ::after, ::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: $white;
  font-family: 'Archivo', sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

section {
  margin: 60px 0;

  @include from('lg') {
    margin: 80px 0;
  }
}