// colors
// $color-primary: #ff6369;
$color-primary: #ff6a70;
$color-primary-dark: #B01931;
// $color-secondary: #7967ff;
$color-secondary: #a194ff;
// $color-accent: #428ce1;
$color-accent: #629de2;
$white: #FFFFFF;

// font size
$font-sm: 12px;
$font-md: 15px;
$font-lg: 20px;
$font-xl: 24px;
