// colors
$colors: (
  'white': #FFF,
  'pink': #FFCACD,
  'egg-blue': #00BAB4,
  'magic-mint': #A4EEDE,
  'salomie': #FFDA94,
  'nevada': #5B717C,
);

// font size
$font-sm: 12px;
$font-md: 15px;
$font-lg: 20px;
$font-xl: 24px;

